{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ destination.name }} - {{ destination.country }} | Travelix</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ destination.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/offers_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/offers_responsive.css' %}">
</head>

<body>
    <div class="super_container">
        <!-- Header -->
        <header class="header">
            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            {% if contact_info %}
                            <div class="phone">{{ contact_info.phone }}</div>
                            <div class="social">
                                <ul class="social_list">
                                    {% if contact_info.pinterest %}
                                    <li class="social_list_item"><a href="{{ contact_info.pinterest }}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                    {% if contact_info.facebook %}
                                    <li class="social_list_item"><a href="{{ contact_info.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                    {% if contact_info.twitter %}
                                    <li class="social_list_item"><a href="{{ contact_info.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                    {% if contact_info.instagram %}
                                    <li class="social_list_item"><a href="{{ contact_info.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                            <div class="user_box ml-auto">
                                <div class="user_box_login user_box_link"><a href="#">login</a></div>
                                <div class="user_box_register user_box_link"><a href="#">register</a></div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>

            <!-- Main Navigation -->
            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container">
                                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="">travelix</a></div>
                            </div>
                            <div class="main_nav_container ml-auto">
                                <ul class="main_nav_list">
                                    <li class="main_nav_item"><a href="{% url 'index' %}">home</a></li>
                                    <li class="main_nav_item"><a href="{% url 'about' %}">about us</a></li>
                                    <li class="main_nav_item"><a href="{% url 'offers' %}">offers</a></li>
                                    <li class="main_nav_item"><a href="{% url 'blog' %}">news</a></li>
                                    <li class="main_nav_item"><a href="{% url 'contact' %}">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Destination Details -->
        <div class="destination_details">
            <div class="parallax_background" data-parallax="scroll" data-image-src="{{ destination.image.url }}"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="destination_title">{{ destination.name }}, {{ destination.country }}</div>
                        <div class="rating rating_{{ destination.rating }}" data-rating="{{ destination.rating }}">
                            {% for i in "12345"|make_list %}
                                {% if forloop.counter <= destination.rating %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Destination Content -->
        <div class="destination_content">
            <div class="container">
                <div class="row">
                    <!-- Description -->
                    <div class="col-lg-8">
                        <div class="destination_description">
                            <p>{{ destination.description }}</p>
                        </div>
                    </div>

                    <!-- Sidebar -->
                    <div class="col-lg-4">
                        <div class="destination_sidebar">
                            <!-- Price -->
                            <div class="sidebar_price">
                                <h2>Starting from</h2>
                                <div class="price_value">${{ destination.base_price }}</div>
                                <a href="#" class="button book_button">book now<span></span><span></span><span></span></a>
                            </div>

                            <!-- Special Offers -->
                            {% if special_offers %}
                            <div class="sidebar_offers">
                                <h2>Special Offers</h2>
                                {% for offer in special_offers %}
                                <div class="offer_item">
                                    <div class="offer_image"><img src="{{ offer.image.url }}" alt="{{ offer.title }}"></div>
                                    <div class="offer_content">
                                        <div class="offer_title">{{ offer.title }}</div>
                                        <div class="offer_price">${{ offer.price }}</div>
                                        {% if offer.discount_percentage > 0 %}
                                        <div class="offer_discount">{{ offer.discount_percentage }}% OFF</div>
                                        {% endif %}
                                        <div class="offer_dates">Valid until {{ offer.end_date }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <!-- ... footer content ... -->
        </footer>
    </div>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'js/destination_custom.js' %}"></script>
</body>
</html> 